body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather';
    color: #40514E;
    }


.top{
    background-color: powderblue;
    padding-top:100px;
}

h1{
    width:100%;
    margin:0 auto;   
    font-family:'Sacramento', cursive;
    font-size:5.625rem;
    margin-top:40px;
    color:#66BFBF;
  }
h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem ;
      color: #66BFBF;
      padding-bottom: 10px;
 }
h3{
      font-family: 'Montserrat', sans-serif;
      color:#11999E; 
  }

.middle-container{
    margin: 100px 0;
}
.bottom{
width:200px; height: 200px;
    }
.bottom-cloud{
position: absolute;
left: 250px;
bottom:300px;
    }
.top-cloud{
position:absolute;
right: 300px;
top:50px;
    }
.profilepic{
    width:200px;
    height:200px;
    margin-top: 10px;
    border-radius: 100%;
}  

.top h2{
font-weight:normal;
}
.skill-row{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
    }
p{
line-height: 2;
    }
.skill-row img{
    width: 25%;
    border-radius: 100%;
    border-style: solid;
    }
.webdev-img{
    float: left;
    margin-right: 30px;
    }
.painting-img{
     float:right;   
    }
.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 3;   
    }
.bottom-container p{
    color:white;
    font-size: 0.92rem;
    }
    .bottom-container a{
        color: #0d868a;
        padding:30px;
        text-decoration: none;
        }
    .bottom-container a:hover{
    color: #eaf6f6;
        }
.profile p{
   width:30%;
   margin: 0 auto;
    }
.contact p{
    width:25%;
    margin: 0 auto;
   padding-bottom: 40px; 
    }
.btn {
    background: #11CDD4;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    padding:10px 20px;
    border: solid #337FED 1px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
     }
     .contact a{
        color: white;     
     }
 .btn:hover {
border: solid #337FED 1px;
background-color: #30E3CB;
border-radius:10px;
text-decoration: none;
     }
